footer.footer.mt-auto.py-3.bg-light.border-top
  p.text-center.text-muted.mb-1 Raplamaa Lauatennis 2021
// Popper, Bootstrap and Main JavaScript files
script(src='js/popper-v2.10.2.min.js')
script(src='js/bootstrap-v5.1.3.min.js')
script(src='js/main.js')