doctype html
html(lang='et').h-100.wxauktc.idc0_332
head
  meta(charset='UTF-8')
  meta(name='description' content='Raplamaa Lauatennis')
  meta(name='keywords' content='Rapla, Raplamaa, Rapla Maakond, lauatennis, pinks, võistlus')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='icon' href='favicon.ico')
  link(rel='stylesheet' href='/css/fontawesome-v5.15.4.min.css')
  link(rel='stylesheet' href='/css/bootstrap-v5.1.3.min.css')
  link(rel='stylesheet' href='/css/main.css')
  title Raplamaa Lauatennis
body.d-flex.flex-column.h-100
