<nav
  class="navbar navbar-expand-md navbar-light bg-light border-bottom fixed-top"
  id="navbar"
>
  <div class="container">
    <div>
      <a class="text-reset text-decoration-none" href="/">
        <i class="fas fa-table-tennis fa-2x"></i>
      </a>
      <a class="navbar-brand text-uppercase fw-bold" href="/">
        <span>&nbsp;Raplamaa Lauatennis</span>
      </a>
    </div>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbar-list"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="navbar-list collapse navbar-collapse justify-content-end"
      id="navbar-list"
    >
      <ul class="navbar-nav text-uppercase fw-bold">
        <li class="nav-item nav-underline-anim me-2">
          <a class="nav-link text-dark" href="/ajakava">Ajakava</a>
        </li>
        <li class="nav-item nav-underline-anim me-2">
          <a class="nav-link text-dark" href="/voistlusjuhend">
            V&otilde;istlusjuhend
          </a>
        </li>
        <li class="nav-item nav-underline-anim me-2">
          <a class="nav-link text-dark" href="/tulemused">Tulemused</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
