<!DOCTYPE html>
<html lang="et" class="h-100 imhckseng idc0_330">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Raplamaa Lauatennis">
  <meta name="keywords" content="Rapla, Raplamaa, Rapla Maakond, lauatennis, pinks, võistlus">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" href="../public/favicon.ico">
  <link rel="stylesheet" href="../public/css/fontawesome-v5.15.4.min.css">
  <link rel="stylesheet" href="../public/css/bootstrap-v5.1.3.min.css">
  <link rel="stylesheet" href="../public/css/main.css">

  <title>Raplamaa Lauatennis</title>
</head>

<body class="d-flex flex-column h-100">

  <header class="fixed-top bg-white border-bottom">
    <nav class="d-flex flex-wrap justify-content-center py-3">

      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <i class="fas fa-table-tennis fa-2x px-3"></i>
        <h5 class="my-0 mr-md-auto text-uppercase fw-bold">
          Raplamaa Lauatennis
        </h5>
      </a>

      <ul class="nav nav-pills text-uppercase">
        <li class="nav-item"><a href="#" class="text-dark fw-bold nav-link">Ajakava</a></li>
        <li class="nav-item"><a href="#" class="text-dark fw-bold nav-link">Võistlusjuhend</a></li>
      </ul>

      <!-- <div class="text-end ps-3">
        <a href="#" class="btn btn-outline-dark me-2">Logi sisse</a>
      </div> -->

    </nav>
  </header>

  <main class="flex-shrink-0">

    <div class="container">

      <div>
        <h5 class="text-uppercase fw-bold text-center mb-3">Ajakava</h5>
      </div>

      <table id="competitions" class="table table-responsive table-striped table-bordered">
        <thead class="table-secondary">
          <tr>
            <th class="text-center">Kuupäev</th>
            <th>Võistluse nimetus</th>
            <th>Võistluse asukoht</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td class="text-center">19.09.2021</td>
            <td>Rapla Maakonna meistrivõistlused - individuaal, paar ja segapaar </td>
            <td>Alu Spordihoone</td>
          </tr>
          <tr>
            <td class="text-center">23.10.2021</td>
            <td>Raplamaa seeriavõistluse 1. etapp - Kaiu auhindadele</td>
            <td>Alu Spordihoone</td>
          </tr>
          <tr>
            <td class="text-center">31.10.2021</td>
            <td>Rapla SVK Meistrivõistlused Lauatennises ja Koroonas</td>
            <td>Valtu Spordimaja</td>
          </tr>
          <tr>
            <td class="text-center">27.11.2021</td>
            <td>Raplamaa seeriavõistluse 2. etapp - Märjamaa auhindadele</td>
            <td>Märjamaa Spordihoone</td>
          </tr>
          <tr>
            <td class="text-center">28.11.2021</td>
            <td>Rapla Maakonna võistkondlikud Meistrivõistlused lauatennises</td>
            <td>Valtu Spordimaja</td>
          </tr>
          <tr>
            <td class="text-center">11.12.2021</td>
            <td>Raplamaa seeriavõistluse 3. etapp - Alu Spordiklubi auhindadele</td>
            <td>Alu Spordihoone</td>
          </tr>
          <tr>
            <td class="text-center">19.12.2021</td>
            <td>Rapla Maakonna individuaal karikavõistlused lauatennises</td>
            <td>Valtu Spordimaja</td>
          </tr>
          <tr>
            <td class="text-center">22.01.2022</td>
            <td>Raplamaa seeriavõistluse 4. etapp - Rapla auhindadele</td>
            <td>Valtu Spordimaja</td>
          </tr>
          <tr>
            <td class="text-center">19.02.2022</td>
            <td>Raplamaa seeriavõistluse 5. etapp - Kohila auhindadele</td>
            <td>Kohila Spordikompleks</td>
          </tr>
          <tr>
            <td class="text-center">05.03.2022</td>
            <td>Raplamaa seeriavõistluse 6. etapp - Järvakandi auhindadele</td>
            <td>Järvakandi Kool</td>
          </tr>
          <tr>
            <td class="text-center">09.04.2022</td>
            <td>Raplamaa seeriavõistluse 7. etapp - Valtu auhindadele</td>
            <td>Valtu Spordimaja</td>
          </tr>
          <tr>
            <td class="text-center">16.04.2022</td>
            <td>Rapla Maakonna meistrivõistlused - individuaal, paar ja segapaar </td>
            <td>Valtu Spordimaja</td>
          </tr>
          <tr>
            <td class="text-center">23.04.2022</td>
            <td>Ennu Soodla mälestusvõistlus</td>
            <td>Alu Spordiklubi</td>
          </tr>

        </tbody>
      </table>
    </div>

  </main>

  <div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      </ul>
      <p class="text-center text-muted mb-1">Raplamaa Lauatennis 2021</p>
    </footer>
  </div>
  <!-- Popper, Bootstrap and Main JavaScript files-->
  <script src="../public/js/popper-v2.10.2.min.js"></script>
  <script src="../public/js/bootstrap-v5.1.3.min.js"></script>
  <script src="../public/js/main.js"></script>

</body>

</html>