include partials/head.pug
include partials/nav.pug

main.flex-shrink-0
  .container
    div
      h5.text-uppercase.fw-bold.text-center.mb-3 V&otilde;istlusjuhend
    h6.fw-bold.text-center.mb-4 Raplamaa lauatennise seeriav&otilde;istlus 2021-2022
    p.fw-bold.mb-0 Eesm&auml;rk
    p Populariseerida lauatennist Raplamaal ja v&auml;ljaspool maakonda
    p.fw-bold.mb-0 S&uuml;steem
    p
      | Seeriav&otilde;istlus koosneb seitsmest etapist (Kaiu, Alu, Rapla, M&auml;rjamaa, J&auml;rvakandi, Valtu, Kohila) millest
      | arvesse l&auml;hevad 6 parema etapi tulemused. 
      br
      | M&auml;ngitakse 2-miinuse s&uuml;steemis koos k&otilde;ikide kohtade
      |         v&auml;ljam&auml;ngimisega.
      |         Plussringi v&otilde;itjad saavutavad 1-2 koha. 
      br
      | Kohtumised m&auml;ngitakse reeglina &quot;parem viiest&quot;.
      br
      | Registreerunud v&otilde;istlejad
      |         loositakse tabelisse viimase avaldatud reitingu alusel. Juhul kui v&otilde;istlejatel puudub ELTL reiting, m&auml;ngijad
      |         loositakse tabelisse.
    p.fw-bold.mb-0 V&otilde;isteldakse j&auml;rgmistes vanuseklassides
    .row
      .col-2
        ul
          li T-18a
          li N19-34
          li N35-44
          li N45-54
          li N55-64
          li N65+
      .col-2
        ul
          li P-14a
          li P-18a
          li M35-49
          li N45-54
          li M50-59
          li M60-69
          li M70+
    p
      | Iga etapi korraldaja autasustab k&otilde;ikide vanuseklasside 3 paremat v&otilde;istlejat, lisaks 3 paremat mees-ja
      | naism&auml;ngijat olenemata vanusest. 
      br
      | V&otilde;istleja l&otilde;petab hooaja selles vanuseklassis, milles ta ka alustas.
    p.fw-bold.mb-0 Punktiarvestus
    ul
      li 1k-63p
      li 2k-60p
      li 3k-58p
      li 4k-57p
      li 5k-56p
      li 6k-55p
      li ...
      li 60k-1p
    p.fw-bold.mb-0 Registreerimine
    p
      | V&otilde;istluste algus k&otilde;igil etappidel kell 10.00. Nimi kirja panna v&auml;hemalt 10 minutit enne v&otilde;istluse
      | algust.
    p.fw-bold.mb-0 Osav&otilde;tjad ja osav&otilde;tumaksud
    p Osalema lubatakse k&otilde;iki &otilde;igeaegselt registreerunud m&auml;ngijaid.
    p.my-0 Osalustasud:
    ul
      li T&auml;iskasvanud - 8 EUR
      li Lapsed - 5 EUR
      li Alla 10 aastased - TASUTA
    p
      | Etappide osav&otilde;tumaksud kantakse t&auml;ies ulatuses seeriav&otilde;istluse fondi ja neid ei saa kasutada etappide kulude
      | katteks. Laekunud summa kasutatakse &uuml;ldkokkuv&otilde;ttes parimateks osutunute autasustamiseks.
    p.fw-bold.mb-0 Autasustamine
    p
      | &Uuml;ldv&otilde;itja k&otilde;ikides vanuseklassides ja &uuml;ldkokkuv&otilde;ttes selgitatakse 6 parema etapi punktide liitmisel. V&otilde;rdsete
      | punktide korral saab parema koha v&otilde;istleja, kes on etappidel tulnud paremale kohale, &uuml;he etapi v&otilde;rdsuse korral
      | v&otilde;etakse arvesse j&auml;rgmine etapp jne.
    p.fw-bold.mb-0 &Uuml;ldist
    p
      | V&otilde;isteldakse ELTL-i poolt kinnitatud v&otilde;istlusm&auml;&auml;ruste j&auml;rgi.
      br
      | Oma osav&otilde;tuga seotud kulud katab iga osav&otilde;tja ise.
      br
      | Oma tervisliku seisundi eest vastutab iga osav&otilde;tja ise.
      br
      | Kui m&auml;ngija elab oma eba&otilde;nnestumise v&auml;lja korraldava klubi inventari peal (laud, barj&auml;&auml;r, v&otilde;rk) ja tekitab
      |         eelnimetatud inventarile n&auml;htava kahju, siis on klubil &otilde;igus kahjustatud m&auml;ngu inventar kahju tekitanud
      |         m&auml;ngijale maha m&uuml;&uuml;a. Hinnaks on uue inventari soetusmaksumus.
    p.text-danger
      | Koos registreerumisega annab v&otilde;istleja n&otilde;usoleku v&otilde;istlusprotokollide avalikustamiseks, v&otilde;istlustulemuste ning
      | fotode kajastamiseks sotsiaalmeedias ja meedias (ajakirjandus, televisioon, raadio) , ning edetabeli
      | koostamisel.
      br
      | Korraldav toimkond j&auml;tab endale &otilde;iguse vajadusel teha juhendis muudatusi.
    p.my-5 &nbsp;

include partials/footer.pug
