<!DOCTYPE html>
<html class="h-100 wxauktc idc0_332" lang="et">
  <head>
    <%- include('./partials/head'); %>
  </head>

  <body class="d-flex flex-column h-100">
    <header><%- include('./partials/header'); %></header>

    <main class="flex-shrink-0">
      <div class="container">
        <button
          id="btnScrolToTop"
          class="btn btn-secondary btnScrolToTop visually-hidden"
          title="Lehekülje algusesse"
        >
          <i class="fas fa-chevron-up"></i>
        </button>

        <div>
          <h5 class="text-uppercase fw-bold text-center mb-3">
            V&otilde;istlusjuhend
          </h5>
        </div>
        <h6 class="fw-bold text-center mb-4">
          Raplamaa lauatennise seeriav&otilde;istlus 2023-2024
        </h6>
        <ol class="list-group list-group-numbered">
          <li class="list-group-item border-0 fw-bold">Eesmärk</li>
          <p class="ms-3">
            Populariseerida lauatennist Raplamaal ja väljaspool maakonda.
          </p>
          <li class="list-group-item border-0 fw-bold">Süsteem</li>
          <p class="ms-3 mb-0">Seeriavõistlus koosneb seitsmest etapist:</p>
          <ol class="list-unstyled ms-4 mb-1">
            <li class="">1. Kaiu</li>
            <li class="">2. Alu</li>
            <li class="">3. Rapla</li>
            <li class="">4. Märjamaa</li>
            <li class="">5. Järvakandi</li>
            <li class="">6. Valtu</li>
            <li class="">7. Kohila</li>
          </ol>
          <p class="ms-3 mb-0">Arvesse lähevad 6 parema etapi tulemused.</p>
          <p class="ms-3 mb-0">
            Mängitakse 2-miinuse süsteemis koos kõikide kohtade
            väljamängimisega. Plussringi võitjad saavutavad 1-2 koha.
          </p>
          <p class="ms-3 mb-0">
            Kohtumised mängitakse reeglina "parem viiest".
          </p>
          <p class="ms-3 mb-3">
            Registreerunud võistlejad loositakse tabelisse viimase avaldatud
            reitingu alusel. Juhul kui võistlejatel puudub ELTL reiting,
            mängijad loositakse tabelisse.
          </p>
          <li class="list-group-item border-0 fw-bold">Vanuseklassid</li>
          <p class="ms-3">
            Iga etapi korraldaja autasustab kõikide vanuseklasside 3 paremat
            võistlejat, lisaks 3 paremat mees- ja naismängijat olenemata
            vanusest.
          </p>
          <p class="ms-3">Võisteldakse järgmistes vanuseklassides</p>
          <table class="table table-responsive ms-3 me-5 w-75">
            <thead>
              <tr>
                <th class="">Naised</th>
                <th class="">Mehed</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td class="border-end">T-18a (sündinud 2006 ja hiljem)</td>
                <td>P-18a (sündinud 2006 ja hiljem)</td>
              </tr>
              <tr>
                <td class="border-end">N19-34 (sündinud 2005-1990)</td>
                <td>M19-34 (sündinud 2005-1990)</td>
              </tr>
              <tr>
                <td class="border-end">N35-44 (sündinud 1989-1980)</td>
                <td>M35-49 (sündinud 1989-1975)</td>
              </tr>
              <tr>
                <td class="border-end">N45-54 (sündinud 1979-1970)</td>
                <td>M50-59 (sündinud 1974-1965)</td>
              </tr>
              <tr>
                <td class="border-end">N55-64 (sündinud 1969-1960)</td>
                <td>M60-69 (sündinud 1964-1955)</td>
              </tr>
              <tr>
                <td class="border-end">N65+ (sündinud 1959 ja varem)</td>
                <td>M70+ (sündinud 1954 ja varem)</td>
              </tr>
            </tbody>
          </table>

          <li class="list-group-item border-0 fw-bold">Punktiarvestus</li>
          <table class="table table-responsive ms-3 me-4 w-25">
            <thead>
              <tr>
                <th class="text-center">Koht</th>
                <th class="text-center">Punktid</th>
              </tr>
            </thead>

            <tbody class="text-center">
              <tr>
                <td>1.</td>
                <td>63</td>
              </tr>
              <tr>
                <td>2.</td>
                <td>60</td>
              </tr>
              <tr>
                <td>3.</td>
                <td>58</td>
              </tr>
              <tr>
                <td>4.</td>
                <td>57</td>
              </tr>
              <tr>
                <td>5.</td>
                <td>56</td>
              </tr>
              <tr>
                <td>6.</td>
                <td>55</td>
              </tr>
              <tr>
                <td colspan="2">...</td>
              </tr>
              <tr>
                <td>60.</td>
                <td>1</td>
              </tr>
            </tbody>
          </table>
          <li class="list-group-item border-0 fw-bold">Registreerimine</li>
          <p class="ms-3">
            Võistluste algus kõigil etappidel kell 10:00. Nimi tuleb kirja panna
            vähemalt 10. minutit enne võistluse algust.
          </p>
          <div
            class="alert alert-danger ms-3 d-flex flex-row align-items-center"
            role="alert"
          >
            <i class="fas fa-exclamation-triangle fa-2x me-3"></i>
            <p class="mb-0">
              Koos registreerumisega annab võistleja nõusoleku
              võistlusprotokollide avalikustamiseks, võistlustulemuste ning
              fotode kajastamiseks sotsiaalmeedias ja meedias (ajakirjandus,
              televisioon, raadio), ning edetabeli koostamisel.
            </p>
          </div>

          <li class="list-group-item border-0 fw-bold">
            Osavõtjad ja osavõtumaksud
          </li>
          <p class="ms-3">
            Osalema lubatakse kõiki õigeaegselt registreerunud mängijaid.
          </p>
          <p class="list-unstyled ms-3 mb-1">Osalustasud:</p>
          <ul class="list-group ms-4 mb-3">
            <li class="ms-3">Täiskasvanud - 10 EUR</li>
            <li class="ms-3">Lapsed - 5 EUR</li>
            <li class="ms-3">Alla 10 aastased - tasuta</li>
          </ul>
          <p class="ms-3">
            Etappide osavõtumaksud kantakse täies ulatuses seeriavõistluse fondi
            ja neid ei saa kasutada etappide kulude katteks. Laekunud summa
            kasutatakse üldkokkuvõttes parimateks osutunute autasustamiseks.
          </p>

          <li class="list-group-item border-0 fw-bold">Autasustamine</li>
          <p class="ms-3">
            Üldvõitja kõikides vanuseklassides ja üldkokkuvõttes selgitatakse 6
            parema etapi punktide liitmisel. Võrdsete punktide korral saab
            parema koha võistleja, kes on etappidel tulnud paremale kohale, ühe
            etapi võrdsuse korral võetakse arvesse järgmine etapp jne.
          </p>
          <li class="list-group-item border-0 fw-bold">Üldist</li>
          <p class="ms-3 mb-0">
            Võisteldakse ELTL-i poolt kinnitatud võistlusmääruste järgi.
          </p>

          <p class="ms-3 mb-0">
            Oma osavõtuga seotud kulud katab iga osavõtja ise.
          </p>

          <p class="ms-3">
            Oma tervisliku seisundi eest vastutab iga osavõtja ise.
          </p>
          <p class="ms-3">
            Kui mängija elab oma ebaõnnestumise välja korraldava klubi inventari
            peal (laud, barjäär, võrk) ja tekitab eelnimetatud inventarile
            nähtava kahju, siis on klubil õigus kahjustatud mängu inventar kahju
            tekitanud mängijale maha müüa. Hinnaks on uue inventari
            soetusmaksumus.
          </p>

          <div
            class="alert alert-danger ms-3 d-flex flex-row align-items-center mb-3"
            role="alert"
          >
            <i class="fas fa-exclamation-triangle fa-2x me-3"></i>
            <p class="mb-0">
              Piirangud võistlemisel Venemaa Föderatsiooni ja Valgevene
              Vabariigi kodanikele.
            </p>
          </div>
          <p class="ms-3">
            Võistlustel võivad osaleda Eesti Vabariigi kodanikud ja alalise
            elamisloaga välisriigi kodanikud ja eestis viibivad kodanikud kes
            omavad selleks õiguslikku alust ning kes esindavad või on ELTL
            liikmesklubide liikmed.
          </p>
          <p class="ms-3">
            Eestis toimuvatel võistlustel on keelatud eksponeerida Venemaa ja
            Valgevene rahvuslikku sümboolikat.
          </p>
          <p class="ms-3">
            Vene Föderatsiooni ja Valgevene kodanikel ei ole õigust osaleda
            Eesti Lauatenniseliidu võistluskalendris olevatel võistlustel (k.a.
            neutraalse lipu all).
          </p>
          <div
            class="alert alert-danger ms-3 d-flex flex-row align-items-center mb-5"
            role="alert"
          >
            <i class="fas fa-exclamation-triangle fa-2x me-3"></i>
            <p class="mb-0">
              Korraldav toimkond jätab endale õiguse vajadusel teha juhendis
              muudatusi.
            </p>
          </div>
        </ol>
      </div>
    </main>

    <footer class="footer mt-auto py-3 bg-light border-top">
      <%- include('./partials/footer'); %>
    </footer>
  </body>
</html>
