<!DOCTYPE html>
<html class="h-100 wxauktc idc0_332" lang="et">
  <head>
    <%- include('./partials/head'); %>
  </head>

  <body class="d-flex flex-column h-100">
    <header><%- include('./partials/header'); %></header>

    <main class="flex-shrink-0">
      <div class="container">
        <div>
          <h5 class="text-uppercase fw-bold text-center mb-3">Kontakt</h5>
        </div>
      </div>
    </main>

    <footer class="footer mt-auto py-3 bg-light border-top">
      <%- include('./partials/footer'); %>
    </footer>
  </body>
</html>
