<!DOCTYPE html>
<html class="h-100 wxauktc idc0_332" lang="et">
  <head>
    <%- include('./partials/head'); %>
  </head>

  <body class="d-flex flex-column h-100">
    <header><%- include('./partials/header'); %></header>

    <main role="main" class="flex-shrink-0">
      <div class="container">
        <div>
          <h5 class="text-uppercase fw-bold text-center mb-3">Tulemused</h5>
        </div>

        <h6 class="fw-bold text-center mb-4">
          Raplamaa lauatennise 35. hooaja v&otilde;istluste 2023-2024 tulemused
        </h6>

        <table
          class="table table-responsive table-striped table-bordered mb-5"
          id="competitions35"
        >
          <thead class="table-secondary">
            <tr>
              <th class="text-center">Kuupäev</th>
              <th>Võistluse nimetus</th>
              <th>Failid</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td class="text-center align-middle">16.03.2024</td>
              <td class="align-middle">
                Raplamaa seeriavõistluse 6. etapp - Järvakandi auhindadele
              </td>
              <td class="align-middle">
                <a
                  class="text-underline-hover text-reset"
                  href="../files/2024-03-16-raplamaa-seeriavoistluse-6etapp-paigutus.pdf"
                  target="_blank"
                >
                  <i class="far fa-file-pdf"></i>
                  Paigutus
                </a>
                <br />
                <a
                  class="text-underline-hover text-reset"
                  href="../files/2024-03-16-raplamaa-seeriavoistluse-6etapp-voistlustabel.pdf"
                  target="_blank"
                >
                  <i class="far fa-file-pdf"></i>
                  Võistlustabel
                </a>
                <br />
                <a
                  class="text-underline-hover text-reset"
                  href="../files/2024-03-16-raplamaa-seeriavoistluse-6etapp-mangud.pdf"
                  target="_blank"
                >
                  <i class="far fa-file-pdf"></i>
                  Mängud
                </a>
                <br />
                <a
                  class="text-underline-hover text-reset"
                  href="../files/2024-03-16-raplamaa-seeriavoistluse-6etapp-loppjarjestus.pdf"
                  target="_blank"
                >
                  <i class="far fa-file-pdf"></i>
                  Lõppjärjestus
                </a>
                <p class="mb-0">Vanuseklassi tulemused</p>
                <ul class="mb-0">
                  <li>
                    <a
                      class="text-underline-hover text-reset"
                      href="../files/2024-03-16-raplamaa-seeriavoistluse-6etapp-vanuseklass-mehed.pdf"
                      target="_blank"
                    >
                      <i class="far fa-file-pdf"></i>
                      Mehed
                    </a>
                  </li>
                  <li>
                    <a
                      class="text-underline-hover text-reset"
                      href="../files/2024-03-16-raplamaa-seeriavoistluse-6etapp-vanuseklass-naised.pdf"
                      target="_blank"
                    >
                      <i class="far fa-file-pdf"></i>
                      Naised
                    </a>
                  </li>
                </ul>
                <a
                  class="text-underline-hover text-reset"
                  href="../files/2024-03-16-raplamaa-seeriavoistluse-tulemused-peale-6etappi.pdf"
                  target="_blank"
                >
                  <i class="far fa-file-pdf"></i>
                  Tulemused peale 6. etappi
                </a>
                <br />
                <a
                  class="text-underline-hover text-reset"
                  href="../files/2024-03-16-raplamaa-seeriavoistluse-tulemused-peale-6etappi-mehed.pdf"
                  target="_blank"
                >
                  <i class="far fa-file-pdf"></i>
                  Tulemused peale 6. etappi - Mehed
                </a>
                <br />
                <a
                  class="text-underline-hover text-reset"
                  href="../files/2024-03-16-raplamaa-seeriavoistluse-tulemused-peale-6etappi-naised.pdf"
                  target="_blank"
                >
                  <i class="far fa-file-pdf"></i>
                  Tulemused peale 6. etappi - Naised
                </a>
              </td>
            </tr>
            <tr>
              <td class="text-center align-middle">17.02.2024</td>
              <td class="align-middle">
                Raplamaa seeriavõistluse 5. etapp - Kohila auhindadele
              </td>
              <td class="align-middle">
                <a
                  class="text-underline-hover text-reset"
                  href="../files/2024-02-17-raplamaa-seeriavoistluse-5etapp-paigutus.pdf"
                  target="_blank"
                >
                  <i class="far fa-file-pdf"></i>
                  Paigutus
                </a>
                <br />
                <a
                  class="text-underline-hover text-reset"
                  href="../files/2024-02-17-raplamaa-seeriavoistluse-5etapp-voistlustabel.pdf"
                  target="_blank"
                >
                  <i class="far fa-file-pdf"></i>
                  Võistlustabel
                </a>
                <br />
                <a
                  class="text-underline-hover text-reset"
                  href="../files/2024-02-17-raplamaa-seeriavoistluse-5etapp-mangud.pdf"
                  target="_blank"
                >
                  <i class="far fa-file-pdf"></i>
                  Mängud
                </a>
                <br />
                <a
                  class="text-underline-hover text-reset"
                  href="../files/2024-02-17-raplamaa-seeriavoistluse-5etapp-loppjarjestus.pdf"
                  target="_blank"
                >
                  <i class="far fa-file-pdf"></i>
                  Lõppjärjestus
                </a>
                <p class="mb-0">Vanuseklassi tulemused</p>
                <ul class="mb-0">
                  <li>
                    <a
                      class="text-underline-hover text-reset"
                      href="../files/2024-02-17-raplamaa-seeriavoistluse-5etapp-vanuseklass-mehed.pdf"
                      target="_blank"
                    >
                      <i class="far fa-file-pdf"></i>
                      Mehed
                    </a>
                  </li>
                  <li>
                    <a
                      class="text-underline-hover text-reset"
                      href="../files/2024-02-17-raplamaa-seeriavoistluse-5etapp-vanuseklass-naised.pdf"
                      target="_blank"
                    >
                      <i class="far fa-file-pdf"></i>
                      Naised
                    </a>
                  </li>
                </ul>
                <a
                  class="text-underline-hover text-reset"
                  href="../files/2024-02-17-raplamaa-seeriavoistluse-tulemused-peale-5etappi.pdf"
                  target="_blank"
                >
                  <i class="far fa-file-pdf"></i>
                  Tulemused peale 5. etappi
                </a>
                <br />
                <a
                  class="text-underline-hover text-reset"
                  href="../files/2024-02-17-raplamaa-seeriavoistluse-tulemused-peale-5etappi-mehed.pdf"
                  target="_blank"
                >
                  <i class="far fa-file-pdf"></i>
                  Tulemused peale 5. etappi - Mehed
                </a>
                <br />
                <a
                  class="text-underline-hover text-reset"
                  href="../files/2024-02-17-raplamaa-seeriavoistluse-tulemused-peale-5etappi-naised.pdf"
                  target="_blank"
                >
                  <i class="far fa-file-pdf"></i>
                  Tulemused peale 5. etappi - Naised
                </a>
              </td>
            </tr>
            <tr>
              <td class="text-center align-middle">13.01.2024</td>
              <td class="align-middle">
                Raplamaa seeriavõistluse 4. etapp - Rapla auhindadele
              </td>
              <td class="align-middle">
                <a
                  class="text-underline-hover text-reset"
                  href="../files/2024-01-13-raplamaa-seeriavoistluse-4etapp.pdf"
                  target="_blank"
                >
                  <i class="far fa-file-pdf"></i>
                  Võistlustabel
                </a>
                <br />
                <a
                  class="text-underline-hover text-reset"
                  href="../files/2024-01-13-raplamaa-seeriavoistluse-tulemused-peale-4etappi.pdf"
                  target="_blank"
                >
                  <i class="far fa-file-pdf"></i>
                  Tulemused peale 4. etappi
                </a>
              </td>
            </tr>
            <tr>
              <td class="text-center align-middle">30.12.2023</td>
              <td class="align-middle">Kohila Lahtised Meistrivõistlused</td>
              <td class="align-middle">
                <a
                  class="text-underline-hover text-reset"
                  href="../files/2023-12-30-kohila-lahtised-meistrivoistlused.pdf"
                  target="_blank"
                >
                  <i class="far fa-file-pdf"></i>
                  Võistlustabel
                </a>
                <br />
                <a
                  class="text-underline-hover text-reset"
                  href="../files/2023-12-30-kohila-lahtised-meistrivoistlused-vanuseklassi-mehed-tulemused.pdf"
                  target="_blank"
                >
                  <i class="far fa-file-pdf"></i>
                  Tulemused vanuseklass Mehed
                </a>
                <br />
                <a
                  class="text-underline-hover text-reset"
                  href="../files/2023-12-30-kohila-lahtised-meistrivoistlused-vanuseklassi-naised-tulemused.pdf"
                  target="_blank"
                >
                  <i class="far fa-file-pdf"></i>
                  Tulemused vanuseklass Naised
                </a>
              </td>
            </tr>
            <tr>
              <td class="text-center align-middle">16.12.2023</td>
              <td class="align-middle">
                Rapla Maakonna individuaal karikavõistlused lauatennises
              </td>
              <td class="align-middle"></td>
            </tr>
            <tr>
              <td class="text-center align-middle">09.12.2023</td>
              <td class="align-middle">
                Raplamaa seeriavõistluse 3. etapp - Alu Spordiklubi auhindadele
              </td>
              <td class="align-middle">
                <a
                  class="text-underline-hover text-reset"
                  href="../files/2023-12-09-raplamaa-seeriavoistluse-3etapp-alu-auhindadele.pdf"
                  target="_blank"
                >
                  <i class="far fa-file-pdf"></i>
                  Võistlustabel
                </a>
                <br />
                <a
                  class="text-underline-hover text-reset"
                  href="../files/2023-12-09-raplamaa-seeriavoistluse-tulemused-peale-3etappi.pdf"
                  target="_blank"
                >
                  <i class="far fa-file-pdf"></i>
                  Tulemused peale 3. etappi
                </a>
                <br />
                <a
                  class="text-underline-hover text-reset"
                  href="../files/2023-12-09-raplamaa-seeriavoistluse-vanuseklassi-mehed-tulemused-peale-3etappi.pdf"
                  target="_blank"
                >
                  <i class="far fa-file-pdf"></i>
                  Tulemused vanuseklass Mehed
                </a>
                <br />
                <a
                  class="text-underline-hover text-reset"
                  href="../files/2023-12-09-raplamaa-seeriavoistluse-vanuseklassi-naised-tulemused-peale-3etappi.pdf"
                  target="_blank"
                >
                  <i class="far fa-file-pdf"></i>
                  Tulemused vanuseklass Naised
                </a>
              </td>
            </tr>
            <tr>
              <td class="text-center align-middle">12.11.2023</td>
              <td class="align-middle">Raplamaa seeriavõistluse 2. etapp</td>
              <td class="align-middle">
                <a
                  class="text-underline-hover text-reset"
                  href="../files/2023-11-12-raplamaa-seeriavoistluse-2etapp.pdf"
                  target="_blank"
                >
                  <i class="far fa-file-pdf"></i>
                  Võistlustabel
                </a>
                <br />
                <a
                  class="text-underline-hover text-reset"
                  href="../files/2023-11-12-raplamaa-seeriavoistluse-tulemused-peale-2etappi.pdf"
                  target="_blank"
                >
                  <i class="far fa-file-pdf"></i>
                  Tulemused peale 2. etappi
                </a>
                <br />
                <a
                  class="text-underline-hover text-reset"
                  href="../files/2023-11-12-raplamaa-seeriavoistluse-vanuseklassi-mehed-tulemused-peale-2etappi.pdf"
                  target="_blank"
                >
                  <i class="far fa-file-pdf"></i>
                  Tulemused vanuseklass Mehed
                </a>
                <br />
                <a
                  class="text-underline-hover text-reset"
                  href="../files/2023-11-12-raplamaa-seeriavoistluse-vanuseklassi-naised-tulemused-peale-2etappi.pdf"
                  target="_blank"
                >
                  <i class="far fa-file-pdf"></i>
                  Tulemused vanuseklass Naised
                </a>
              </td>
            </tr>
            <tr>
              <td class="text-center align-middle">05.11.2023</td>
              <td class="align-middle">
                Rapla Maakonna võistkondlikud Meistrivõistlused lauatennises
              </td>
              <td class="align-middle">
                <a
                  class="text-underline-hover text-reset"
                  href="../files/2023-11-05-rapla-maakonna-voistkondlikud-meistrivoistlused-lauatennises-mehed.pdf"
                  target="_blank"
                >
                  <i class="far fa-file-pdf"></i>
                  Mehed
                </a>
                <br />
                <a
                  class="text-underline-hover text-reset"
                  href="../files/2023-11-05-rapla-maakonna-voistkondlikud-meistrivoistlused-lauatennises-naised.pdf"
                  target="_blank"
                >
                  <i class="far fa-file-pdf"></i>
                  Naised
                </a>
              </td>
            </tr>
            <tr>
              <td class="text-center align-middle">15.10.2023</td>
              <td class="align-middle">
                Raplamaa Spordimängud 2023 - Lauatennis
              </td>
              <td class="align-middle">
                <a
                  class="text-underline-hover text-reset"
                  href="../files/2023-10-15-raplamaa-mangud-2023-mehed.pdf"
                  target="_blank"
                >
                  <i class="far fa-file-pdf"></i>
                  Mehed
                </a>
                <br />
                <a
                  class="text-underline-hover text-reset"
                  href="../files/2023-10-15-raplamaa-mangud-2023-naised.pdf"
                  target="_blank"
                >
                  <i class="far fa-file-pdf"></i>
                  Naised
                </a>
              </td>
            </tr>
            <tr>
              <td class="text-center align-middle">08.10.2023</td>
              <td class="align-middle">
                Raplamaa seeriavõistluse 1. etapp - Kaiu auhindadele
              </td>
              <td class="align-middle">
                <a
                  class="text-underline-hover text-reset"
                  href="../files/2023-10-08-raplamaa-seeriavoistluse-1etapp-kaiu-auhindadele.pdf"
                  target="_blank"
                >
                  <i class="far fa-file-pdf"></i>
                  Võistlustabel
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
    <footer class="footer mt-auto py-3 bg-light border-top">
      <%- include('./partials/footer'); %>
    </footer>
  </body>
</html>
