<!DOCTYPE html>
<html class="h-100 wxauktc idc0_332" lang="et">
  <head>
    <%- include('./partials/head'); %>
  </head>

  <body class="d-flex flex-column h-100">
    <header><%- include('./partials/header'); %></header>

    <main role="main" class="flex-shrink-0">
      <div class="container">
        <div>
          <h5 class="text-uppercase fw-bold text-center mb-3">Tulemused</h5>
        </div>

        <h6 class="fw-bold text-center mb-4">
          Raplamaa lauatennise 34. hooaja seeriav&otilde;istluse 2022-2023
          tulemused
        </h6>

        <table
          class="table table-responsive table-striped table-bordered mb-5"
          id="competitions34"
        >
          <thead class="table-secondary">
            <tr>
              <th class="text-center">Kuupäev</th>
              <th>Võistluse nimetus</th>
              <th>Failid</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center align-middle">08.10.2022</td>
              <td class="align-middle">
                Raplamaa seeriavõistluse 1. etapp - Kaiu auhindadele
              </td>
              <td class="align-middle">
                <a
                  class="text-underline-hover text-reset"
                  href="../files/2022-10-08-raplamaa-seeriavõistluse-1etapp-kaiu-auhindadele.pdf"
                  target="_blank"
                >
                  <i class="far fa-file-pdf"></i>
                  Võistlustabel
                </a>
              </td>
            </tr>
            <tr>
              <td class="text-center align-middle">26.11.2022</td>
              <td class="align-middle">
                Rapla Maakonna võistkondlikud Meistrivõistlused lauatennises
              </td>
              <td class="align-middle">
                <a
                  class="text-underline-hover text-reset"
                  href="../files/2022-11-26-rapla-maakonna-võistkondlikud-meistrivõistlused-lauatennises-mehed.pdf"
                  target="_blank"
                >
                  <i class="far fa-file-pdf"></i>
                  Mehed
                </a>
                <br />
                <a
                  class="text-underline-hover text-reset"
                  href="../files/2022-11-26-rapla-maakonna-võistkondlikud-meistrivõistlused-lauatennises-naised.pdf"
                  target="_blank"
                >
                  <i class="far fa-file-pdf"></i>
                  Naised
                </a>
              </td>
            </tr>
            <tr>
              <td class="text-center align-middle">27.11.2022</td>
              <td class="align-middle">Raplamaa seeriavõistluse 2. etapp</td>
              <td class="align-middle">
                <a
                  class="text-underline-hover text-reset"
                  href="../files/2022-11-27-raplamaa-seeriavõistluse-2etapp.pdf"
                  target="_blank"
                >
                  <i class="far fa-file-pdf"></i>
                  Võistlustabel
                </a>
                <br />
                <a
                  class="text-underline-hover text-reset"
                  href="../files/2022-11-27-raplamaa-seeriavõistluse-tulemused-peale-2etappi.pdf"
                  target="_blank"
                >
                  <i class="far fa-file-pdf"></i>
                  Tulemused peale 2. etappi
                </a>
              </td>
            </tr>
            <tr>
              <td class="text-center align-middle">10.12.2022</td>
              <td class="align-middle">
                Raplamaa seeriavõistluse 3. etapp - Alu Spordiklubi auhindadele
              </td>
              <td class="align-middle">
                <a
                  class="text-underline-hover text-reset"
                  href="../files/2022-12-10-raplamaa-seeriavõistluse-3etapp.pdf"
                  target="_blank"
                >
                  <i class="far fa-file-pdf"></i>
                  Võistlustabel
                </a>
                <br />
                <a
                  class="text-underline-hover text-reset"
                  href="../files/2022-12-10-raplamaa-seeriavõistluse-tulemused-peale-3etappi.pdf"
                  target="_blank"
                >
                  <i class="far fa-file-pdf"></i>
                  Tulemused peale 3. etappi
                </a>
              </td>
            </tr>
            <tr>
              <td class="text-center align-middle">17.12.2022</td>
              <td class="align-middle">
                Rapla Maakonna individuaal karikavõistlused lauatennises
              </td>
              <td class="align-middle">
                <a
                  class="text-underline-hover text-reset"
                  href="../files/2022-12-17-rapla-maakonna-individuaal-karikavõistlused-mehed.pdf"
                  target="_blank"
                >
                  <i class="far fa-file-pdf"></i>
                  Mehed
                </a>
                <br />
                <a
                  class="text-underline-hover text-reset"
                  href="../files/2022-12-17-rapla-maakonna-individuaal-karikavõistlused-naised.pdf"
                  target="_blank"
                >
                  <i class="far fa-file-pdf"></i>
                  Naised
                </a>
              </td>
            </tr>
            <tr>
              <td class="text-center align-middle">15.01.2023</td>
              <td class="align-middle">Kohila lahtised meistrivõistlused</td>
              <td class="align-middle">
                <a
                  class="text-underline-hover text-reset"
                  href="../files/2023-01-15-kohila-lahtinsed-meistrivõistlused.pdf"
                  target="_blank"
                >
                  <i class="far fa-file-pdf"></i>
                  Võistlustabel
                </a>
              </td>
            </tr>
            <tr>
              <td class="text-center align-middle">21.01.2023</td>
              <td class="align-middle">
                Raplamaa seeriavõistluse 4. etapp - Rapla auhindadele
              </td>
              <td class="align-middle">
                <a
                  class="text-underline-hover text-reset"
                  href="../files/2023-01-21-raplamaa-seeriavõistluse-4etapp.pdf"
                  target="_blank"
                >
                  <i class="far fa-file-pdf"></i>
                  Võistlustabel
                </a>
                <br />
                <a
                  class="text-underline-hover text-reset"
                  href="../files/2023-01-21-raplamaa-seeriavõistluse-tulemused-peale-4etappi.pdf"
                  target="_blank"
                >
                  <i class="far fa-file-pdf"></i>
                  Tulemused peale 4. etappi
                </a>
                <tr>
                  <td class="text-center align-middle">18.02.2023</td>
                  <td class="align-middle">
                    Raplamaa seeriavõistluse 5. etapp - Kohila auhindadele
                  </td>
                  <td class="align-middle">
                    <a
                      class="text-underline-hover text-reset"
                      href="../files/2023-02-18-raplamaa-seeriavõistluse-5etapp-kohila-auhindadele.pdf"
                      target="_blank"
                    >
                      <i class="far fa-file-pdf"></i>
                      Võistlustabel
                    </a>
                    <br />
                    <a
                      class="text-underline-hover text-reset"
                      href="../files/2023-02-18-raplamaa-seeriavõistluse-tulemused-peale-5etappi.pdf"
                      target="_blank"
                    >
                      <i class="far fa-file-pdf"></i>
                      Tulemused peale 5. etappi
                    </a>
                  </td>
                </tr>
                <tr>
                  <td class="text-center align-middle">25.03.2023</td>
                  <td class="align-middle">
                    Raplamaa seeriavõistluse 6. etapp - Järvakandi auhindadele
                  </td>
                  <td class="align-middle">
                    <a
                      class="text-underline-hover text-reset"
                      href="../files/2023-03-25-raplamaa-seeriavõistluse-6etapp-jarvakandi-auhindadele.pdf"
                      target="_blank"
                    >
                      <i class="far fa-file-pdf"></i>
                      Võistlustabel
                    </a>
                    <br />
                    <a
                      class="text-underline-hover text-reset"
                      href="../files/2023-03-26-raplamaa-seeriavõistluse-tulemused-peale-6etappi.pdf"
                      target="_blank"
                    >
                      <i class="far fa-file-pdf"></i>
                      Tulemused peale 6. etappi
                    </a>
                  </td>
                </tr>
                <tr>
                  <td class="text-center align-middle">01.04.2023</td>
                  <td class="align-middle">
                    Raplamaa seeriavõistluse 7. etapp - Valtu auhindadele
                  </td>
                  <td class="align-middle">
                    <a
                      class="text-underline-hover text-reset"
                      href="../files/2023-04-01-raplamaa-seeriavõistluse-7etapp-valtu-auhindadele.pdf"
                      target="_blank"
                    >
                      <i class="far fa-file-pdf"></i>
                      Võistlustabel
                    </a>
                    <br />
                    <a
                      class="text-underline-hover text-reset"
                      href="../files/2023-04-01-raplamaa-seeriavõistluse-tulemused-peale-7etappi.pdf"
                      target="_blank"
                    >
                      <i class="far fa-file-pdf"></i>
                      Tulemused peale 7. etappi
                    </a>
                  </td>
                </tr>
                <tr>
                  <td class="text-center align-middle">02.04.2023</td>
                  <td class="align-middle">Rapla Maakonna meistrivõistlused</td>
                  <td class="align-middle">
                    <a
                      class="text-reset text-underline-hover"
                      href="../files/2023-04-02-rapla-maakonna-meistrivoistlused-individuaal-mehed.pdf"
                      target="_blank"
                    >
                      <i
                        class="far fa-file-pdf"
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        title=""
                        data-bs-original-title="Võistlustabel"
                        aria-label="Võistlustabel"
                      ></i>
                      Individuaal - Mehed
                    </a>
                    <br />
                    <a
                      class="text-reset text-underline-hover"
                      href="../files/2023-04-02-rapla-maakonna-meistrivoistlused-individuaal-naised.pdf"
                      target="_blank"
                    >
                      <i
                        class="far fa-file-pdf"
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        title=""
                        data-bs-original-title="Võistlustabel"
                        aria-label="Võistlustabel"
                      ></i>
                      Individuaal - Naised
                    </a>
                    <br />
                    <a
                      class="text-reset text-underline-hover"
                      href="../files/2023-04-02-rapla-maakonna-meistrivoistlused-paaris-mehed.pdf"
                      target="_blank"
                    >
                      <i
                        class="far fa-file-pdf"
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        title=""
                        data-bs-original-title="Võistlustabel"
                        aria-label="Võistlustabel"
                      ></i>
                      Paaris - Mehed
                    </a>
                    <br />
                    <a
                      class="text-reset text-underline-hover"
                      href="../files/2023-04-02-rapla-maakonna-meistrivoistlused-paaris-naised.pdf"
                      target="_blank"
                    >
                      <i
                        class="far fa-file-pdf"
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        title=""
                        data-bs-original-title="Võistlustabel"
                        aria-label="Võistlustabel"
                      ></i>
                      Paaris - Naised
                    </a>
                    <br />
                    <a
                      class="text-reset text-underline-hover"
                      href="../files/2023-04-02-rapla-maakonna-meistrivoistlused-segapaaris.pdf"
                      target="_blank"
                    >
                      <i
                        class="far fa-file-pdf"
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        title=""
                        data-bs-original-title="Võistlustabel"
                        aria-label="Võistlustabel"
                      ></i>
                      Segapaaris
                    </a>
                  </td>
                </tr>
                <tr>
                  <td class="text-center align-middle">29.04.2032</td>
                  <td class="align-middle">Ennu Soodla mälestusvõistlus</td>
                  <td class="align-middle">
                    <a
                      class="text-underline-hover text-reset"
                      href="../files/2023-04-29-ennu-soodla-malestusvoistlus-mehed.pdf"
                      target="_blank"
                    >
                      <i class="far fa-file-pdf"></i>
                      Mehed
                    </a>
                    <br />
                    <a
                      class="text-underline-hover text-reset"
                      href="../files/2023-04-29-ennu-soodla-malestusvoistlus-naised.pdf"
                      target="_blank"
                    >
                      <i class="far fa-file-pdf"></i>
                      Naised
                    </a>
                  </td>
                </tr>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
    <footer class="footer mt-auto py-3 bg-light border-top">
      <%- include('./partials/footer'); %>
    </footer>
  </body>
</html>
