<!DOCTYPE html>
<html class="h-100 wxauktc idc0_332" lang="et">
  <head>
    <%- include('./partials/head'); %>
  </head>

  <body class="d-flex flex-column h-100">
    <header><%- include('./partials/header'); %></header>

    <main class="flex-shrink-0">
      <div class="container">
        <div>
          <h5 class="text-uppercase fw-bold text-center mb-3">Ajakava</h5>
        </div>

        <table
          class="table table-responsive table-striped table-bordered me-4"
          id="table"
        >
          <thead class="table-secondary">
            <tr>
              <th class="text-center">Kuupäev</th>
              <th class="text-center">Algusaeg</th>
              <th>Võistluse nimetus</th>
              <th>Võistluskoht</th>
              <th>Aadress</th>
            </tr>
          </thead>

          <tbody id="competitionsTable">
            <!-- <tr>
              <td class="text-center text-black-50">08.10.2023</td>
              <td class="text-center text-black-50">10:00</td>
              <td class="text-black-50">
                Raplamaa seeriavõistluse 1. etapp - Kaiu auhindadele
              </td>
              <td class="text-black-50">
                <a
                  class="text-underline-hover text-reset"
                  href="https://sadolinspordihoone.ee/alu-spordihoone/"
                  target="_blank"
                >
                  <i class="fas fa-globe p-1"></i>
                  Alu Spordihoone
                </a>
              </td>
              <td class="text-black-50">
                <a
                  class="text-underline-hover text-reset"
                  href="https://www.google.com/maps/search/?api=1&query=Alu+Spordiklubi"
                  target="_blank"
                >
                  <i class="fas fa-map-marker-alt p-1"></i>
                  Keskuse tee 1, Alu
                </a>
              </td>
            </tr>
            <tr>
              <td class="text-center text-black-50">15.10.2023</td>
              <td class="text-center text-black-50">10:00</td>
              <td class="text-black-50">
                Raplamaa Spordimängud 2023 - Lauatennis
              </td>
              <td class="text-black-50">
                <a
                  class="text-underline-hover text-reset"
                  href="https://www.valtuspordimaja.ee/"
                  target="_blank"
                >
                  <i class="fas fa-globe p-1"></i>
                  Valtu Spordimaja
                </a>
              </td>
              <td class="text-black-50">
                <a
                  class="text-underline-hover text-reset"
                  href="https://www.google.com/maps/search/?api=1&query=Valtu+Spordimaja"
                  target="_blank"
                >
                  <i class="fas fa-map-marker-alt p-1"></i>
                  Saare 11, Kaerepere
                </a>
              </td>
            </tr>
            <tr>
              <td class="text-center text-black-50">29.10.2023</td>
              <td class="text-center text-black-50">10:00</td>
              <td class="text-black-50">
                Rapla Spordiveteranide Koondise (SVK) Meistrivõistlused
                Lauatennises
              </td>
              <td class="text-black-50">
                <a
                  class="text-underline-hover text-reset"
                  href="https://www.valtuspordimaja.ee/"
                  target="_blank"
                >
                  <i class="fas fa-globe p-1"></i>
                  Valtu Spordimaja
                </a>
              </td>
              <td class="text-black-50">
                <a
                  class="text-underline-hover text-reset"
                  href="https://www.google.com/maps/search/?api=1&query=Valtu+Spordimaja"
                  target="_blank"
                >
                  <i class="fas fa-map-marker-alt p-1"></i>
                  Saare 11, Kaerepere
                </a>
              </td>
            </tr>
            <tr>
              <td class="text-center text-black-50">05.11.2023</td>
              <td class="text-center text-black-50">10:00</td>
              <td class="text-black-50">
                Rapla Maakonna võistkondlikud Meistrivõistlused lauatennises
              </td>
              <td class="text-black-50">
                <a
                  class="text-underline-hover text-reset text-black-50"
                  href="https://www.valtuspordimaja.ee/"
                  target="_blank"
                >
                  <i class="fas fa-globe p-1"></i>
                  Valtu Spordimaja
                </a>
              </td>
              <td class="text-black-50">
                <a
                  class="text-underline-hover text-reset text-black-50"
                  href="https://www.google.com/maps/search/?api=1&query=Valtu+Spordimaja"
                  target="_blank"
                >
                  <i class="fas fa-map-marker-alt p-1"></i>
                  Saare 11, Kaerepere
                </a>
              </td>
            </tr>
            <tr>
              <td class="text-center text-black-50">12.11.2023</td>
              <td class="text-center text-black-50">10:00</td>
              <td class="text-black-50">Raplamaa seeriavõistluse 2. etapp</td>
              <td class="text-black-50">
                <a
                  class="text-underline-hover text-reset text-black-50"
                  href="https://www.valtuspordimaja.ee/"
                  target="_blank"
                >
                  <i class="fas fa-globe p-1"></i>
                  Valtu Spordimaja
                </a>
              </td>
              <td class="text-black-50">
                <a
                  class="text-underline-hover text-reset text-black-50"
                  href="https://www.google.com/maps/search/?api=1&query=Valtu+Spordimaja"
                  target="_blank"
                >
                  <i class="fas fa-map-marker-alt p-1"></i>
                  Saare 11, Kaerepere
                </a>
              </td>
            </tr>
            <tr>
              <td class="text-center text-black-50">09.12.2023</td>
              <td class="text-center text-black-50">10:00</td>
              <td class="text-black-50">
                Raplamaa seeriavõistluse 3. etapp - Alu Spordiklubi auhindadele
              </td>
              <td class="text-black-50">
                <a
                  class="text-underline-hover text-reset"
                  href="https://sadolinspordihoone.ee/alu-spordihoone/"
                  target="_blank"
                >
                  <i class="fas fa-globe p-1"></i>
                  Alu Spordihoone
                </a>
              </td>
              <td class="text-black-50">
                <a
                  class="text-underline-hover text-reset"
                  href="https://www.google.com/maps/search/?api=1&query=Alu+Spordiklubi"
                  target="_blank"
                >
                  <i class="fas fa-map-marker-alt p-1"></i>
                  Keskuse tee 1, Alu
                </a>
              </td>
            </tr>
            <tr>
              <td class="text-center text-black-50">16.12.2023</td>
              <td class="text-center text-black-50">10:00</td>
              <td class="text-black-50">
                Rapla Maakonna individuaal karikavõistlused lauatennises
              </td>
              <td class="text-black-50">
                <a
                  class="text-underline-hover text-reset"
                  href="https://www.valtuspordimaja.ee/"
                  target="_blank"
                >
                  <i class="fas fa-globe p-1"></i>
                  Valtu Spordimaja
                </a>
              </td>
              <td class="text-black-50">
                <a
                  class="text-underline-hover text-reset"
                  href="https://www.google.com/maps/search/?api=1&query=Valtu+Spordimaja"
                  target="_blank"
                >
                  <i class="fas fa-map-marker-alt p-1"></i>
                  Saare 11, Kaerepere
                </a>
              </td>
            </tr>
            <tr>
              <td class="text-center text-black-50">30.12.2023</td>
              <td class="text-center text-black-50">10:00</td>
              <td class="text-black-50">Kohila Lahtine laud</td>
              <td class="text-black-50">
                <a
                  class="text-underline-hover text-reset"
                  href="https://www.kohilasport.ee/"
                  target="_blank"
                >
                  <i class="fas fa-globe p-1"></i>
                  Kohila Spordikeskus
                </a>
              </td>
              <td class="text-black-50">
                <a
                  class="text-underline-hover text-reset"
                  href="https://www.google.com/maps/search/?api=1&query=Kohila+Spordikeskus"
                  target="_blank"
                >
                  <i class="fas fa-map-marker-alt p-1"></i>
                  Kooli 1, Kohila
                </a>
              </td>
            </tr>
            <tr>
              <td class="text-center">13.01.2024</td>
              <td class="text-center">10:00</td>
              <td>Raplamaa seeriavõistluse 4. etapp - Rapla auhindadele</td>
              <td>
                <a
                  class="text-underline-hover text-reset"
                  href="https://www.valtuspordimaja.ee/"
                  target="_blank"
                >
                  <i class="fas fa-globe p-1"></i>
                  Valtu Spordimaja
                </a>
              </td>
              <td>
                <a
                  class="text-underline-hover text-reset"
                  href="https://www.google.com/maps/search/?api=1&query=Valtu+Spordimaja"
                  target="_blank"
                >
                  <i class="fas fa-map-marker-alt p-1"></i>
                  Saare 11, Kaerepere
                </a>
              </td>
            </tr>
            <tr>
              <td class="text-center">20.01.2024</td>
              <td class="text-center">11:00</td>
              <td>Raplamaa noorte lauatennisesari - 1. osavõistlus</td>
              <td>
                <a
                  class="text-underline-hover text-reset"
                  href="https://www.valtuspordimaja.ee/"
                  target="_blank"
                >
                  <i class="fas fa-globe p-1"></i>
                  Valtu Spordimaja
                </a>
              </td>
              <td>
                <a
                  class="text-underline-hover text-reset"
                  href="https://www.google.com/maps/search/?api=1&query=Valtu+Spordimaja"
                  target="_blank"
                >
                  <i class="fas fa-map-marker-alt p-1"></i>
                  Saare 11, Kaerepere
                </a>
              </td>
            </tr>
            <tr>
              <td class="text-center">10.02.2024</td>
              <td class="text-center">11:00</td>
              <td>Raplamaa noorte lauatennisesari - 2. osavõistlus</td>
              <td>
                <a
                  class="text-underline-hover text-reset"
                  href="https://sadolinspordihoone.ee/alu-spordihoone/"
                  target="_blank"
                >
                  <i class="fas fa-globe p-1"></i>
                  Alu Spordihoone
                </a>
              </td>
              <td>
                <a
                  class="text-underline-hover text-reset"
                  href="https://www.google.com/maps/search/?api=1&query=Alu+Spordiklubi"
                  target="_blank"
                >
                  <i class="fas fa-map-marker-alt p-1"></i>
                  Keskuse tee 1, Alu
                </a>
              </td>
            </tr>
            <tr>
              <td class="text-center">17.02.2024</td>
              <td class="text-center">10:00</td>
              <td>Raplamaa seeriavõistluse 5. etapp - Kohila auhindadele</td>
              <td>
                <a
                  class="text-underline-hover text-reset"
                  href="https://www.kohilasport.ee/"
                  target="_blank"
                >
                  <i class="fas fa-globe p-1"></i>
                  Kohila Spordikeskus
                </a>
              </td>
              <td>
                <a
                  class="text-underline-hover text-reset"
                  href="https://www.google.com/maps/search/?api=1&query=Kohila+Spordikeskus"
                  target="_blank"
                >
                  <i class="fas fa-map-marker-alt p-1"></i>
                  Kooli 1, Kohila
                </a>
              </td>
            </tr>
            <tr>
              <td class="text-center">16.03.2024</td>
              <td class="text-center">10:00</td>
              <td>
                Raplamaa seeriavõistluse 6. etapp - Järvakandi auhindadele
              </td>
              <td>
                <a
                  class="text-underline-hover text-reset"
                  href="https://www.valtuspordimaja.ee/"
                  target="_blank"
                >
                  <i class="fas fa-globe p-1"></i>
                  Valtu Spordimaja
                </a>
              </td>
              <td>
                <a
                  class="text-underline-hover text-reset"
                  href="https://www.google.com/maps/search/?api=1&query=Valtu+Spordimaja"
                  target="_blank"
                >
                  <i class="fas fa-map-marker-alt p-1"></i>
                  Saare 11, Kaerepere
                </a>
              </td>
            </tr> -->
            <tr>
              <td class="text-center">30.03.2024</td>
              <td class="text-center">11:00</td>
              <td>Raplamaa noorte lauatennisesari - 3. osavõistlus</td>
              <td>
                <a
                  class="text-underline-hover text-reset"
                  href="https://sadolinspordihoone.ee/alu-spordihoone/"
                  target="_blank"
                >
                  <i class="fas fa-globe p-1"></i>
                  Alu Spordihoone
                </a>
              </td>
              <td>
                <a
                  class="text-underline-hover text-reset"
                  href="https://www.google.com/maps/search/?api=1&query=Alu+Spordiklubi"
                  target="_blank"
                >
                  <i class="fas fa-map-marker-alt p-1"></i>
                  Keskuse tee 1, Alu
                </a>
              </td>
            </tr>
            <tr>
              <td class="text-center">06.04.2024</td>
              <td class="text-center">10:00</td>
              <td>Raplamaa seeriavõistluse 7. etapp - Valtu auhindadele</td>
              <td>
                <a
                  class="text-underline-hover text-reset"
                  href="https://www.valtuspordimaja.ee/"
                  target="_blank"
                >
                  <i class="fas fa-globe p-1"></i>
                  Valtu Spordimaja
                </a>
              </td>
              <td>
                <a
                  class="text-underline-hover text-reset"
                  href="https://www.google.com/maps/search/?api=1&query=Valtu+Spordimaja"
                  target="_blank"
                >
                  <i class="fas fa-map-marker-alt p-1"></i>
                  Saare 11, Kaerepere
                </a>
              </td>
            </tr>
            <tr>
              <td class="text-center">13.04.2024</td>
              <td class="text-center">11:00</td>
              <td>Raplamaa noorte lauatennisesari - 4. osavõistlus</td>
              <td>
                <a
                  class="text-underline-hover text-reset"
                  href="https://www.valtuspordimaja.ee/"
                  target="_blank"
                >
                  <i class="fas fa-globe p-1"></i>
                  Valtu Spordimaja
                </a>
              </td>
              <td>
                <a
                  class="text-underline-hover text-reset"
                  href="https://www.google.com/maps/search/?api=1&query=Valtu+Spordimaja"
                  target="_blank"
                >
                  <i class="fas fa-map-marker-alt p-1"></i>
                  Saare 11, Kaerepere
                </a>
              </td>
            </tr>
            <tr>
              <td class="text-center">14.04.2024</td>
              <td class="text-center">10:00</td>
              <td>
                Rapla Maakonna meistrivõistlused - individuaal, paar ja segapaar
              </td>
              <td>
                <a
                  class="text-underline-hover text-reset"
                  href="https://www.valtuspordimaja.ee/"
                  target="_blank"
                >
                  <i class="fas fa-globe p-1"></i>
                  Valtu Spordimaja
                </a>
              </td>
              <td>
                <a
                  class="text-underline-hover text-reset"
                  href="https://www.google.com/maps/search/?api=1&query=Valtu+Spordimaja"
                  target="_blank"
                >
                  <i class="fas fa-map-marker-alt p-1"></i>
                  Saare 11, Kaerepere
                </a>
              </td>
            </tr>
            <tr>
              <td class="text-center">28.04.2023</td>
              <td class="text-center">10:00</td>
              <td>
                Ennu Soodla mälestusvõistlus - Seeriavõistluse autasustamine
              </td>
              <td>
                <a
                  class="text-underline-hover text-reset"
                  href="https://sadolinspordihoone.ee/alu-spordihoone/"
                  target="_blank"
                >
                  <i class="fas fa-globe p-1"></i>
                  Alu Spordihoone
                </a>
              </td>
              <td>
                <a
                  class="text-underline-hover text-reset"
                  href="https://www.google.com/maps/search/?api=1&query=Alu+Spordiklubi"
                  target="_blank"
                >
                  <i class="fas fa-map-marker-alt p-1"></i>
                  Keskuse tee 1, Alu
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>

    <footer class="footer mt-auto py-3 bg-light border-top">
      <%- include('./partials/footer'); %>
    </footer>
  </body>
</html>
