<!DOCTYPE html>
<html lang="et" class="h-100 wxauktc idc0_332">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Raplamaa Lauatennis">
  <meta name="keywords" content="Rapla, Raplamaa,, lauatennis, pinks, võistlus">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" href="../public/favicon.ico">
  <link rel="stylesheet" href="../public/css/fontawesome-v5.15.4.min.css">
  <link rel="stylesheet" href="../public/css/bootstrap-v5.1.3.min.css">
  <link rel="stylesheet" href="../public/css/main.css">

  <title>Raplamaa Lauatennis</title>
</head>

<body class="d-flex flex-column h-100">

  <header>

    <nav class="navbar navbar-expand-md navbar-light bg-light border-bottom fixed-top">
      <div class="container">

        <div>
          <a class="text-reset text-decoration-none" href="/">
            <i class="fas fa-table-tennis fa-2x"></i>
          </a>
          <a class="navbar-brand text-uppercase fw-bold" href="/">
            Raplamaa Lauatennis
          </a>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-list"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbar-list">
          <ul class="navbar-nav text-uppercase fw-bold">
            <li class="nav-item">
              <a class="nav-link text-dark" href="/ajakava">Ajakava</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="/voistlusjuhend">Võistlusjuhend</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="/kontakt">Kontakt</a>
            </li>
          </ul>
        </div>

      </div>
    </nav>

  </header>

  <main class="flex-shrink-0">

    <div class="container">

      <div>
        <h5 class="text-uppercase fw-bold text-center mb-5">Treeningud</h5>
      </div>

      <div class="container">

        <div class="row">
          <div class="col-md-6 d-flex justify-content-center align-self-center">
            <div>
              <a href="https://www.vesiroos.edu.ee/" target="_blank" class="text-underline-hover text-reset mb-2">
                <h5>Rapla Vesiroosi Kool</h5>
              </a>
              <i class="fas fa-map-marker-alt"></i> <a href="https://goo.gl/maps/TcoHCy7HRedaLStk6" target="_blank"
                class="text-underline-hover text-reset">
                Viljandi mnt 69, Rapla</a>
              <p class="my-2"><i class="fas fa-address-book"></i> Kontakt Andres Sahkur andres.sahkur@vesiroos.edu.ee
              </p>
            </div>
          </div>
          <div class="col-md-6"><img src="../public/img/rapla-vesiroosi-kool.jpg" class="img-fluid"></div>

          <div class="w-100 my-5"></div>

          <div class="col-md-6"><img src="../public/img/valtu-spordimaja.jpg" class="img-fluid"></div>
          <div class="col-md-6 d-flex justify-content-center align-self-center">
            <div>
              <a href="https://www.valtuspordimaja.ee/" target="_blank" class="text-underline-hover text-reset mb-2">
                <h5>Valtu Spordimaja</h5>
              </a>
              <i class="fas fa-map-marker-alt"></i> <a href="https://goo.gl/maps/BNv1hrCTGgyXMCYh8" target="_blank"
                class="text-underline-hover text-reset">
                Saare 11, Kaerepere</a>
              <p class="my-2"><i class="fas fa-clock"></i> Treeningu aeg Esmaspäev kell 19:00 - 21:00</p>
              <p class="mb-2"><i class="fas fa-euro-sign"></i> Tasu 3,5 EUR</p>
              <p class="mb-2"><i class="fas fa-address-book"></i> Kontakt Kalju Kalda 514 8261 kalju.kalda@gmail.com</p>
            </div>
          </div>

          <div class="w-100 my-5"></div>

          <div class="col-md-6 d-flex justify-content-center align-self-center">
            <div>
              <a href="https://www.kohilasport.ee/" target="_blank" class="text-underline-hover text-reset mb-2">
                <h5>Kohila Spordikompleks</h5>
              </a>
              <i class="fas fa-map-marker-alt"></i> <a href="https://goo.gl/maps/X7gPKDPyYiqUZyyq5" target="_blank"
                class="text-underline-hover text-reset">
                Kooli 1, Kohila</a>
              <p class="my-2"><i class="fas fa-clock"></i> Treeningu aeg Neljapäev kell 19:30 - 21:30</p>
              <p class="mb-2"><i class="fas fa-euro-sign"></i> Tasu 2,50 EUR</p>
              <p class="mb-2"><i class="fas fa-address-book"></i> Kontakt Raigo Rommot 506 6621 raigo.rommot@elasa.ee
              </p>
            </div>
          </div>
          <div class="col-md-6"><img src="../public/img/kohila-spordikompleks.jpg" class="img-fluid"></div>

          <div class="w-100 my-5"></div>

        </div>
      </div>

  </main>

  <footer class="footer mt-auto py-3 bg-light border-top">
    <p class="text-center text-muted mb-1">Raplamaa Lauatennis 2021</p>
  </footer>

  <!-- Popper, Bootstrap and Main JavaScript files-->
  <script src="../public/js/popper-v2.10.2.min.js"></script>
  <script src="../public/js/bootstrap-v5.1.3.min.js"></script>
  <script src="../public/js/main.js"></script>

</body>

</html>