<!DOCTYPE html>
<html lang="et" class="h-100 imhckseng idc0_330">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Raplamaa Lauatennis">
  <meta name="keywords" content="Rapla, Raplamaa, Rapla Maakond, lauatennis, pinks, võistlus">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" href="../public/favicon.ico">
  <link rel="stylesheet" href="../public/css/fontawesome-v5.15.4.min.css">
  <link rel="stylesheet" href="../public/css/bootstrap-v5.1.3.min.css">
  <link rel="stylesheet" href="../public/css/main.css">

  <title>Raplamaa Lauatennis</title>
</head>

<body>

  <header>

    <nav class="navbar navbar-expand-sm navbar-light bg-light border-bottom fixed-top">
      <div class="container">

        <div>
          <a class="text-reset text-decoration-none" href="/">
            <i class="fas fa-table-tennis fa-2x"></i>
          </a>
          <a class="navbar-brand text-uppercase fw-bold" href="/">
            Raplamaa Lauatennis
          </a>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-list"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbar-list">
          <ul class="navbar-nav text-uppercase fw-bold">
            <li class="nav-item">
              <a class="nav-link text-dark" href="/ajakava">Ajakava</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="/voistlusjuhend">Võistlusjuhend</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="/kontakt">Kontakt</a>
            </li>
          </ul>
        </div>

      </div>
    </nav>

  </header>

  <main>

    <div class="container">

      <div>
        <h5 class="text-uppercase fw-bold text-center mb-3">Võistlusjuhend</h5>
      </div>

      <h6 class="fw-bold text-center mb-4">Raplamaa lauatennise seeriavõistlus 2021-2022</h6>

      <div class="alert alert-danger mb-4" role="alert">
        <p class="fw-bold mb-0">OLULINE INFO!</p>
        <p class="mb-0">Raplamaa seeriavõistluse etappidel saavad osaleda üksnes vaktsineerimiskuuri läbinud, COVID-19
          haiguse
          läbi põdenud või negatiivse testitulemusega inimesed.
          <br />Osalemiseks saab kuni 48 tundi varem teha antigeeni kiirtesti või kuni 72 tundi varem PCR-testi.
          Testimistulemus peab olema negatiivne.
          <br />Tõendeid kontrollitakse enne registreerimist!
          <br />Kohapeal testida ei saa!
      </div>

      <p class="fw-bold mb-0">Eesmärk</p>
      <p>Populariseerida lauatennist Raplamaal ja väljaspool maakonda</p>
      <p class="fw-bold mb-0">Süsteem</p>

      <p>Seeriavõistlus koosneb seitsmest etapist (Kaiu, Alu, Rapla, Märjamaa, Järvakandi, Valtu, Kohila) millest
        arvesse lähevad 6 parema etapi tulemused. <br />Mängitakse 2-miinuse süsteemis koos kõikide kohtade
        väljamängimisega.
        Plussringi võitjad saavutavad 1-2 koha. <br />Kohtumised mängitakse reeglina "parem viiest".
        <br />Registreerunud võistlejad
        loositakse tabelisse viimase avaldatud reitingu alusel. Juhul kui võistlejatel puudub ELTL reiting, mängijad
        loositakse tabelisse.
      </p>

      <p class="fw-bold mb-0">Võisteldakse järgmistes vanuseklassides</p>

      <div class="row">

        <div class="col-2">
          <ul>
            <li>T-18a</li>
            <li>N19-34</li>
            <li>N35-44</li>
            <li>N45-54</li>
            <li>N55-64</li>
            <li>N65+</li>
          </ul>
        </div>

        <div class="col-2">
          <ul>
            <li>P-14a</li>
            <li>P-18a</li>
            <li>M35-49</li>
            <li>N45-54</li>
            <li>M50-59</li>
            <li>M60-69</li>
            <li>M70+</li>
          </ul>
        </div>

      </div>

      <p>Iga etapi korraldaja autasustab kõikide vanuseklasside 3 paremat võistlejat, lisaks 3 paremat mees-ja
        naismängijat olenemata vanusest. <br />Võistleja lõpetab hooaja selles vanuseklassis, milles ta ka alustas.</p>

      <p class="fw-bold mb-0">Punktiarvestus</p>
      <ul>
        <li>1k-63p</li>
        <li>2k-60p</li>
        <li>3k-58p</li>
        <li>4k-57p</li>
        <li>5k-56p</li>
        <li>6k-55p</li>
        <li>...</li>
        <li>60k-1p</li>
      </ul>

      <p class="fw-bold mb-0">Registreerimine</p>
      <p>Võistluste algus kõigil etappidel kell 10.00. Nimi kirja panna vähemalt 10 minutit enne võistluse
        algust.</p>

      <p class="fw-bold mb-0">Osavõtjad ja osavõtumaksud</p>
      <p>Osalema lubatakse kõiki õigeaegselt registreerunud mängijaid.</p>
      <p class="my-0">Osalustasud:</p>
      <ul>
        <li>Täiskasvanud - 8 EUR</li>
        <li>Lapsed - 5 EUR</li>
        <li>Alla 10 aastased - TASUTA</li>
      </ul>

      <p>Etappide osavõtumaksud kantakse täies ulatuses seeriavõistluse fondi ja neid ei saa kasutada etappide kulude
        katteks. Laekunud summa kasutatakse üldkokkuvõttes parimateks osutunute autasustamiseks.</p>

      <p class="fw-bold mb-0">Autasustamine</p>
      <p>Üldvõitja kõikides vanuseklassides ja üldkokkuvõttes selgitatakse 6 parema etapi punktide liitmisel. Võrdsete
        punktide korral saab parema koha võistleja, kes on etappidel tulnud paremale kohale, ühe etapi võrdsuse korral
        võetakse arvesse järgmine etapp jne.</p>

      <p class="fw-bold mb-0">Üldist</p>
      <p>Võisteldakse ELTL-i poolt kinnitatud võistlusmääruste järgi.
        <br />Oma osavõtuga seotud kulud katab iga osavõtja ise.
        <br />Oma tervisliku seisundi eest vastutab iga osavõtja ise.
        <br />Kui mängija elab oma ebaõnnestumise välja korraldava klubi inventari peal (laud, barjäär, võrk) ja tekitab
        eelnimetatud inventarile nähtava kahju, siis on klubil õigus kahjustatud mängu inventar kahju tekitanud
        mängijale maha müüa. Hinnaks on uue inventari soetusmaksumus.
      </p>

      <p class="text-danger my-5">
        Koos registreerumisega annab võistleja nõusoleku võistlusprotokollide avalikustamiseks, võistlustulemuste ning
        fotode kajastamiseks sotsiaalmeedias ja meedias (ajakirjandus, televisioon, raadio) , ning edetabeli
        koostamisel.
        <br />Korraldav toimkond jätab endale õiguse vajadusel teha juhendis muudatusi.
      </p>

      <p>&nbsp;</p>

    </div>

  </main>

  <div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      </ul>
      <p class="text-center text-muted mb-1">Raplamaa Lauatennis 2021</p>
    </footer>
  </div>
  <!-- Popper, Bootstrap and Main JavaScript files-->
  <script src="../public/js/popper-v2.10.2.min.js"></script>
  <script src="../public/js/bootstrap-v5.1.3.min.js"></script>
  <script src="../public/js/main.js"></script>

</body>

</html>