<!DOCTYPE html>
<html class="h-100 wxauktc idc0_332" lang="et">
  <head>
    <%- include('./partials/head'); %>
  </head>

  <body class="d-flex flex-column h-100">
    <header><%- include('./partials/header'); %></header>

    <main class="flex-shrink-0">
      <div class="container">
        <div>
          <h5 class="text-uppercase fw-bold text-center mb-5">Treeningud</h5>
        </div>

        <div class="row">
          <div class="col-md-6">
            <img class="img-fluid" src="/img/valtu-spordimaja.jpg" />
          </div>
          <div class="col-md-6 d-flex justify-content-center align-self-center">
            <div>
              <a
                class="text-underline-hover text-reset mb-2"
                href="https://www.valtuspordimaja.ee/"
                target="_blank"
              >
                <h5>Valtu Spordimaja</h5>
              </a>
              <i class="fas fa-map-marker-alt"></i>
              <a
                class="text-underline-hover text-reset"
                href="https://goo.gl/maps/BNv1hrCTGgyXMCYh8"
                target="_blank"
              >
                Saare 11, Kaerepere
              </a>
              <p class="my-2">
                <i class="fas fa-clock"></i>
                Treeningu aeg
              </p>

              <ul>
                <li>Esmasp채ev kell 17:30 - 19:00</li>
              </ul>
              <p class="mb-2">
                <i class="fas fa-address-book"></i>
                Kontakt Kalju Kalda 514 8261 kaljukalda@gmail.com
              </p>
            </div>
          </div>
          <div class="w-100 my-5"></div>
          <div class="col-md-6 d-flex justify-content-center align-self-center">
            <div>
              <a
                class="text-underline-hover text-reset mb-2"
                href="https://www.kohilasport.ee/"
                target="_blank"
              >
                <h5>Kohila Spordikeskus</h5>
              </a>
              <i class="fas fa-map-marker-alt"></i>
              <a
                class="text-underline-hover text-reset"
                href="https://goo.gl/maps/X7gPKDPyYiqUZyyq5"
                target="_blank"
              >
                Kooli 1, Kohila
              </a>
              <p class="my-2">
                <i class="fas fa-clock"></i>
                Treeningu aeg
              </p>
              <ul>
                <li>Kolmap채ev kell 19:00 - 21:00</li>
                <li>P체hap채ev kell 10:00 - 12:00</li>
                <li>Reede kell 18:00 - 20:00</li>
              </ul>
              <p class="mb-2">
                <i class="fas fa-address-book"></i>
                Kontakt Raigo Rommot 506 6621 raigo.rommot@elasa.ee
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <img class="img-fluid" src="/img/kohila-spordikompleks.jpg" />
          </div>
          <div class="w-100 my-5"></div>
        </div>
      </div>
    </main>
    <footer class="footer mt-auto py-3 bg-light border-top">
      <%- include('./partials/footer'); %>
    </footer>
  </body>
</html>
