include partials/head.pug
include partials/nav.pug

main.flex-shrink-0
  .container
    div
      h5.text-uppercase.fw-bold.text-center.mb-5 Treeningud
    .container
      .row
        .col-md-6.d-flex.justify-content-center.align-self-center
          div
            a.text-underline-hover.text-reset.mb-2(href='https://www.vesiroos.edu.ee/' target='_blank')
              h5 Rapla Vesiroosi Kool
            i.fas.fa-map-marker-alt
            |  
            a.text-underline-hover.text-reset(href='https://goo.gl/maps/TcoHCy7HRedaLStk6' target='_blank').
              
              Viljandi mnt 69, Rapla
            p.my-2
              i.fas.fa-address-book
              |  Kontakt Andres Sahkur andres.sahkur@vesiroos.edu.ee

        .col-md-6
          img.img-fluid(src='/img/rapla-vesiroosi-kool.jpg')
        .w-100.my-5
        .col-md-6
          img.img-fluid(src='/img/valtu-spordimaja.jpg')
        .col-md-6.d-flex.justify-content-center.align-self-center
          div
            a.text-underline-hover.text-reset.mb-2(href='https://www.valtuspordimaja.ee/' target='_blank')
              h5 Valtu Spordimaja
            i.fas.fa-map-marker-alt
            |  
            a.text-underline-hover.text-reset(href='https://goo.gl/maps/BNv1hrCTGgyXMCYh8' target='_blank').
              
              Saare 11, Kaerepere
            p.my-2
              i.fas.fa-clock
              |  Treeningu aeg Esmaspäev kell 19:00 - 21:00
            p.mb-2
              i.fas.fa-euro-sign
              |  Tasu 3,5 EUR
            p.mb-2
              i.fas.fa-address-book
              |  Kontakt Kalju Kalda 514 8261 kalju.kalda@gmail.com
        .w-100.my-5
        .col-md-6.d-flex.justify-content-center.align-self-center
          div
            a.text-underline-hover.text-reset.mb-2(href='https://www.kohilasport.ee/' target='_blank')
              h5 Kohila Spordikompleks
            i.fas.fa-map-marker-alt
            |  
            a.text-underline-hover.text-reset(href='https://goo.gl/maps/X7gPKDPyYiqUZyyq5' target='_blank').
              
              Kooli 1, Kohila
            p.my-2
              i.fas.fa-clock
              |  Treeningu aeg Neljapäev kell 19:30 - 21:30
            p.mb-2
              i.fas.fa-euro-sign
              |  Tasu 2,50 EUR
            p.mb-2
              i.fas.fa-address-book
              |  Kontakt Raigo Rommot 506 6621 raigo.rommot@elasa.ee

        .col-md-6
          img.img-fluid(src='/img/kohila-spordikompleks.jpg')
        .w-100.my-5

include partials/footer.pug
