body {
  min-height: 75rem;
  padding-top: 9rem;
}
.nav-item::after {
  content:'';
  display:block;
  width:0px;
  height:1px;
  background:#212529;
  transition: 0.3s;
}
.nav-item:hover::after {
  width:100%;
}
.nav-link {
  /* font-size: 1.1rem;  Default 1rem */
  transition:0.3s;
  margin-top: 5px;
}