body {
  min-height: 60rem;
  padding-top: 3rem;
}
main > .container {
  padding: 60px 15px 0;
}
.nav-item::after {
  content:'';
  display:block;
  width:0px;
  height:1px;
  background:#212529;
  transition: 0.3s;
}
.nav-item:hover::after {
  width:100%;
}
.nav-link {
  /* font-size: 1.1rem;  Default 1rem */
  transition:0.3s;
  margin-top: 5px;
}